body{
	background-image: url("/images/background-building.png");
}

.btn{
	margin-left: 2px;
}

.home-company-item{
	margin-right: 10px;
}

.job-dropdown-menu{
	width: 500px;
	padding: 2px;
}

.list-group-item a{
	text-decoration: none;
	color: inherit;
}
